.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.framework-container {
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.framework-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.framework-description {
  margin-bottom: 20px;
  color: #555;
}

.pros-cons-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pros-cons-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pros-icon,
.cons-icon {
  margin-right: 10px;
  color: #4caf50; /* green for pros */
}

.cons-icon {
  color: #f44336; /* red for cons */
}

.framework-summary {
  font-style: italic;
  color: #777;
}
