/* excel.component.scss */

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: 'Orbitron', sans-serif !important;
  z-index: 1000;
}

/* Hide the scrollbar for WebKit browsers (Chrome, Safari) */
.mat-sidenav-container::-webkit-scrollbar {
  width: 0.5em;
}

.mat-sidenav-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.mat-sidenav-container {
  height: calc(100vh - var(--header-height) - var(--footer-height));
  overflow: auto;
  display: flex;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;

}

.sidebar {
  border-right: 2px solid #DE3163;
  background-color: white;
  font-family: "Opens sans", sans-serif !important;
  padding: 0px;
  color: black;
  min-height: 100vh;
  min-width: 110px;
  display: flex;
  justify-content: center;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 10px;

      a {
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;

        &:hover {
          color: #3498db;
        }
      }
    }
  }
}

.content-container {
  flex: 1;
  padding: 10px;
  overflow-y: scroll;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1em;
    font-family: 'Opens sans', sans-serif !important;
    color: #2c3e50;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 2em;
    font-family: 'Opens sans', sans-serif !important;
    color: #333;
  }
}
