
<div class="main-content" >

  <div class="sidebar">
    <ul>
      <li><a routerLink="/excel/section1">Sektion 1</a></li>
      <li><a routerLink="/excel/section2">Sektion 2</a></li>
      <li><a routerLink="/excel/section3">Sektion 3</a></li>
      <li><a routerLink="/excel/section4">Sektion 4</a></li>
      <li><a routerLink="/excel/section5">Sektion 5</a></li>
      <li><a routerLink="/excel/section11">Sektion 6</a></li>
      <li><a routerLink="/excel/section14">Sektion 7</a></li>

    </ul>
  </div>


<!-- grid.component.html -->
    <!-- Move the content of the router-outlet here -->
    <router-outlet></router-outlet>

  </div>

