/* styles.scss (or your global styles file) */
.mat-toolbar-row {
  font-weight: 900;

  display: flex;
  align-items: center;
  font-family: 'Orbitron', sans-serif !important;
}
.wrapper{

    font-family: 'Orbitron', sans-serif !important;


}
.fixed-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Orbitron', sans-serif !important;
  right: 0;
  background-color: #DE3163;

  z-index: 1000;
}

.headline {
  font-size: 18px;
  margin-left: 10px;

  font-family: 'Orbitron', sans-serif !important;
  font-weight: 700;
}

.mat-toolbar-row a {
  font-family: 'Orbitron', sans-serif !important;
  margin-left: 10px;
  font-weight: 900;
  font-size: 16px;
}
.mat-toolbar{
  font-family: 'Orbitron', sans-serif !important;
  background-color: #DE3163;
  color:white;

}

.guide-container {
  display: flex;
}



.content-container {
  flex: 1;
  max-width: 100%;
  margin-top: 60px; /* Adjust based on your toolbar height */
}

.footer {
  /* Your existing styles for the footer */
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  background-color: #DE3163;
  font-weight: 900;
  font-size: 16px;
  font-family: 'Orbitron', sans-serif !important;
  width: 100%;
}

/* Add responsive styles */
@media (max-width: 600px) {
  /* Add responsive styles if needed */
}
