<!-- Your Angular component template (app.component.html) -->
<div class="wrapper">
  <div class="grid-container">
    <mat-toolbar>
      <mat-toolbar-row>
        <a mat-button routerLink="/grid">Hem</a>
        <a mat-button routerLink="/excel">Personligt</a>
        <a mat-button (click)="downloadPdf()">Betyg</a>
          <a mat-button href="mailto:eric.flodin@aol.com">
           Mail
          </a>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>

<router-outlet></router-outlet>


