@import '~@angular/material/prebuilt-themes/indigo-pink.css';


/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #f28250;
  --secondary: #DE3163;
  --accent: #384b5e;
  --warn: #D34E4E;
  --margin-button-icon: 0 0.3em;
  --grid-default-gap: 2em;
  font-family: 'Opens sans', sans-serif !important;
  /*header*/
  --header-height: 60px;
  /* Footer */
  --footer-height: 40px;
  --margin-top:140px;
}

html, body {
  margin: 0;

  padding: 0;
}



@media (min-width: 800px) {

}
